
@{
    ViewData["Title"] = "OrderNote";
}

<h1>Nota de Pedido</h1>

<div class="row g-1 align-items-center">
    
    
    

@section Scripts{
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/ordernote.js"></script>
}








